<!-- about.component.html -->
<app-header></app-header>

<div class="home-container">
  <img src="https://i.imgur.com/tu5ljVy.jpeg" alt="Description of Image" class="responsive-image" />
  <div class="text-overlay" #textOverlay>
    <h1>Η εταιρεία</h1>
    
    <p>Με περισσότερα από 20 χρόνια εμπειρίας στο χώρο των πωλήσεων η εταιρεία δραστηριοποιείται στη Γεωργιούπολη Χανίων καθώς και στις γύρω περιοχές. <br>
       Η επιχειρηση κάνει μόνο χονδρικές πωλήσεις.</p>
    
    <h2>Τα προιόντα</h2>
    <p>Στο κατάστημά μας μπορείται να βρείτε διαφόρων ειδών προιόντα που αφορούν τον ξενοδοχειακό και επαγγελματικό εξοπλισμό. <br>
       Στο διαδυσκτιακό μας ιστότοπο εμφανίζονται μόνο αυτά που ειναι σε προσφορά.</p>
    
    <h2>Online προσφορές</h2>
    <p>Στη διαδυσκτιακή ιστοσελίδα μας μπορείτε να ενημερωθείτε για τις προσφορές που τρέχουν σε συγκεκριμένα προιόντα.</p>
    
    <h2>Επικοινωνία</h2>
    <p>Για παραγγελίες μπορειτε να μας καλέσετε στο <a href="tel:2821051560" class="mobile">2821051560</a>.</p>
    
    <a href="/contact" class="cta-button">Τοποθεσία</a>
  </div>
</div>

<app-footer></app-footer>
